body {
  font-family: "Arial", sans-serif;
  background-color: #f4f5f7;
  color: #343a40;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: #343a40;
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  color: #5a5a5a;
}

#homeworldForm {
  margin-top: 20px;
}

.form-check {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}

.form-check-label {
  font-size: 1.1rem;
  font-weight: normal;
  margin-left: 10px;
  color: #555;
}

.form-check-input {
  transform: scale(1.3);
  margin-top: 5px;
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  border-bottom: 2px solid #ddd;
  max-height: 250px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  text-transform: uppercase;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.col-md-4 {
  flex: 1 1 30%;
  max-width: 30%;
  padding: 10px;
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 576px) {
  .col-md-4 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.mt-5 {
  margin-top: 50px;
}

.mt-3 {
  margin-top: 30px;
}

.m-2 {
  margin: 20px;
}

#showCharactersButton,
#filterButton {
  font-size: 1.1rem;
  padding: 12px 30px;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  margin-top: 20px;
}

#selectedHomeworld {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
  font-weight: bold;
}

.form-check {
  display: inline-block;
  margin-right: 20px;
}
